.box {
    padding: 30px;
}

.box-white {
    h3 {
        margin: 22px 0;
        line-height: 1.65em;
    }

    p {
        line-height: 1.85em;
    }
}

.box-cyan {
    h3 {
        margin-bottom: 13px;
    }

    span {
        margin-right: 7px;
    }

    button {
        margin-top: 30px;
        width: 100%;
        padding: 12px 0;
    }
}

.box-green {
    h3 {
        margin-bottom: 13px;
    }
}
