:root {
    // Mobile: 375px;
    // Desktop: 1440px;

    --clr-cyan: hsl(179, 62%, 43%);
    --clr-green: rgb(46, 199, 197);
    --clr-yellow: hsl(71, 73%, 54%);
    --clr-gray: hsl(204, 43%, 93%);
    --clr-dark: rgb(212, 232, 245);
    --clr-blue: hsl(218, 22%, 67%);

    --fs-16: 16px;
    --ff-karla: 'Karla', sans-serif;
}