:root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    --fw-400: 400;
    --fw-600: 600;

    --ff-sans: 'Open Sans', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;
}
